.results-container {
  display: flex;
}

.results-list-container {
  flex-grow: 3;
}

.results-map-container {
  flex-grow: 6;
}

.results-details-container {
  flex-grow: 3;
}

agm-map {
  height: 100vh;
}
