button {
  cursor: pointer;
}


.search-container {
  height: 100%;
}


.query-container {
  display: flex;
  flex-grow: 8;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.filter-container {
  display: flex;
  flex-grow: 8;
  justify-content: space-around;
  align-items: center;
}

.category-container {
  margin: 1em;
}

.radius-container {
  margin: 1em;
}

.open-now-container {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

.buttons-container {
  display: flex;
  flex-grow: 8;
  justify-content: space-around;
  align-items: center;
}
