<app-header></app-header>

<div class="search-container">
  <div class="query-container input-group input-group-lg">
      <input
        type="text"
        class="form-control"
        name="queryText"
        placeholder="Search"
        [(ngModel)]="queryText"
      />
      <button
        class="btn btn-link"
        type="button"
        role="button"
        (click)="openModal(this.advSearch)"
      >
        Advanced Search Options
      </button>
  </div>


  <div class="buttons-container">
    <button
      class="btn btn-primary"
      (click)="getPlaces()"
    >
      SEARCH
    </button>
    <button
      class="btn btn-danger"
      (click)="resetSearch()"
    >
      RESET SEARCH
    </button>
  </div>

</div>

<!-- Modal Templates -->

<ng-template #advSearch let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Advanced Search Options</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="adv-search-location-container">
      <input
      type="text"
      class="form-control"
      name="locationText"
      placeholder="Specify Location"
      [(ngModel)]="locationText"
      />
    </div>
    <div class="radius-container">
      <p>Radius (km)</p>
      <input type="range" min="0" max="10000" [(ngModel)]="radius" />
      <input type="number" min="0" max="10000" [(ngModel)]="radius" value="{{radius}}"/>
    </div>
    <div ngbDropdown class="d-inline-block category-container">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{categorySelected}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let category of categories"
          class="dropdown-item"
          (click)="setSelectedCategory(category)"
        >
          {{category}}
        </button>
      </div>
    </div>
    <div class="btn-group open-now-container" data-toggle="buttons">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="openNow"> Open Now Only
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="getPlaces()"
    >
      SEARCH
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #errContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bad Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p
      *ngIf="status === 'ZERO_RESULTS'"
    >
      It appears your search for "{{queryText}}" did not yield any results. Please try to refine the search term and/or use the Advanced Search options.
    </p>
    <p
      *ngIf="status !== 'ZERO_RESULTS'"
    >
      It appears your search resulted in an error. Please try your search again. If you continue to see this error, please contact the administrator and someone will assist you.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<app-footer></app-footer>
