<app-header></app-header>


<div class="query-text-container">
  <form>
    <input
      type="text"
      class="txt"
      name="queryText"
      placeholder="Search"
      [(ngModel)]="queryText"
    />
    <input
      type="submit"
      class="btn"
      value="Search"
      (click)="getPlaces()"
    />
  </form>
</div>

<div ngbDropdown class="d-inline-block category-container">
  <button
    class="btn btn-outline-primary"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    {{categorySelected}}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button
      *ngFor="let category of categories"
      class="dropdown-item"
      (click)="setSelectedCategory(category)"
    >
      {{category}}
    </button>
  </div>
</div>

<div class="max-price-container">
  <span>Max Price Range</span>
  <input type="range" min="0" max="4" [(ngModel)]="maxPrice" />
  {{maxPrice}}
</div>



<app-footer></app-footer>
